@model CategoryModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Category</h4>
    <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Guid)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Guid)
            </dd>
        </dl>
</div>
<h4> Category <b>@Model.Name</b>`s Posts 🌴</h4>
@if (Model.PostsOutput != null)
{
    <div class="row">
        @foreach (var post in Model.PostsOutput)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    @if (!string.IsNullOrEmpty(post.ImageURL))
                    {
                        <img height="200" src="@post.ImageURL" class="card-img-top" alt="Post Image" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@post.Name</h5>
                        <p class="card-text"><small class="text-muted">Published on @post.PublishDate?.ToString("MMMM dd, yyyy")</small></p>
                        <p class="card-text"><small class="text-muted">Location: @post.Location</small></p>
                        <p class="card-text"><small class="text-muted">Rating: @GetStarRating(post.Rating)</small></p>
                        <a asp-action="Details" asp-controller="Posts" asp-route-id="@post.Id" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No posts available for this user.</p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>


@functions
{
    public string GetStarRating(int rating)
    {
        string stars = "";
        for (int i = 0; i < rating; i++)
        {
            stars += "★"; // Unicode character for star
        }
        return stars;
    }
}



